@font-face {
  font-family: "regular";
  src: url("fonts/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("fonts/bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
}

.landing_page {
  background-color: black;
  height: 100vh;
  font-family: "regular", sans-serif;
  z-index: 100;
}
.landing_page .advertisement {
  background-color: #de6c00;
  min-height: -moz-fit-content;
  min-height: fit-content;
  font-size: 20px;
  padding: 0.2em;
  text-align: center;
}
.landing_page .advertisement a {
  text-decoration: none;
  color: #061934;
}
.landing_page .nav_bar_div {
  display: flex;
  justify-content: center;
}
.landing_page .nav_bar_div .nav_bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5%;
  max-height: 7vh;
  border-style: solid;
  border-color: #ff8a00;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.landing_page .nav_bar_div .nav_bar .nav_bar_items {
  font-size: 1em;
  margin: 2.5vw;
  color: #ff8a00;
  font-family: inherit;
  padding: 10px 10px;
}
.landing_page .nav_bar_div .nav_bar div {
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}
.landing_page .nav_bar_div .nav_bar div:hover {
  cursor: pointer;
  box-shadow: inset 200px 0 0 0 #de6c00;
  color: #061934;
}
.landing_page .title {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 27vh;
  padding: 0 9vw;
}
.landing_page .title p {
  font-family: inherit;
  color: #ff8a00;
  z-index: 5;
  margin: 0px;
}
.landing_page .title .name {
  display: flex;
  justify-content: start;
  flex-basis: 100%;
  font-size: clamp(7vw, 8vw, 90px);
}
.landing_page .title .number {
  display: flex;
  justify-content: start;
  flex-basis: 100%;
  font-size: 48px;
  margin-top: -15px;
  margin-left: 12px;
}
.landing_page .landing_video {
  position: absolute;
  z-index: 0;
  left: 23%;
  top: 18%;
}
.landing_page .landing_video video {
  width: 100vw;
}

.header {
  color: #c77415;
  display: flex;
  height: 5vh;
  padding-top: 2%;
  justify-content: space-between;
  font-family: "bold", sans-serif;
  position: relative;
  z-index: 100;
}
.header .left {
  width: 37vw;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8a00;
  border-left: none;
  border-radius: 10px;
}
.header .page_heading {
  display: flex;
  align-items: center;
  font-size: 40px;
}
.header .right {
  width: 37vw;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8a00;
  border-right: none;
  border-radius: 10px;
}

.about_page {
  background: linear-gradient(to bottom, #000000, #061934);
  height: 95vh;
  font-family: "regular", sans-serif;
  position: relative;
}
.about_page .about_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
}
.about_page .about_us {
  width: 35vw;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  font-size: 1.45vw;
  color: #c77415;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #000000, #061934) 1;
     border-image: linear-gradient(to bottom, #000000, #061934) 1;
  border-width: 8px;
  padding: 0px 25px;
  line-height: 1.5;
}
.about_page .about_img {
  position: relative;
  width: 40vw;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 0;
  -webkit-mask: linear-gradient(0deg, transparent, #061934 100%);
          mask: linear-gradient(0deg, transparent, #061934 100%);
}
.about_page .about_img img {
  width: 40vw;
  border-radius: 20px;
}

.bot_page {
  background: linear-gradient(to bottom, #061934, black);
  height: 100vh;
  font-family: "regular", sans-serif;
}
.bot_page .video_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.bot_page .video_div img {
  width: 50%;
}

@keyframes complex {
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-100px);
  }
}
.achievements_page {
  background: linear-gradient(to bottom, #000000, #061934);
  height: 80vh;
  font-family: "regular", sans-serif;
}
.achievements_page .achievements_div {
  max-width: 75%;
  display: flex;
  justify-content: center;
  margin: 4.5% auto;
}
.achievements_page .achievements_div .scroller {
  min-width: 75%;
  display: flex;
  justify-content: start;
  gap: 1%;
  animation: scroll 110s linear infinite;
  animation-play-state: paused;
}
.achievements_page .achievements_div .scroller .achievement {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #f8a400, #de6c00);
  min-width: 300px;
  min-height: 48vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.achievements_page .achievements_div .scroller .achievement .achievement_title {
  font-family: "bold";
  font-weight: bold;
}
.achievements_page .achievements_div .scroller .achievement img {
  width: 7vw;
  position: absolute;
  bottom: 10%;
}
.achievements_page .achievements_div[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, rgb(189, 115, 19) 25%, rgb(240, 178, 98) 75%, transparent);
          mask: linear-gradient(90deg, transparent, rgb(189, 115, 19) 25%, rgb(240, 178, 98) 75%, transparent);
}
.achievements_div.in_view .scroller {
  animation-play-state: running;
}

@keyframes scroll {
  to {
    transform: translate(-100%);
  }
}
@keyframes scroll2 {
  to {
    transform: translateY(-100%);
  }
}
#worlds {
  border-style: solid;
  -o-border-image: linear-gradient(to right, #004aad, #cb6ce6) 1;
     border-image: linear-gradient(to right, #004aad, #cb6ce6) 1;
  border-width: 10px;
}

#centerstage {
  background-color: #000000;
  border-style: solid;
  border-radius: 8px;
  bottom: 10%;
  width: 11vw;
}

.contact_page {
  background-color: #0d203b;
  height: 30vh;
  font-family: "regular", sans-serif;
}
.contact_page .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.8rem;
  color: #c77415;
  padding-top: 4%;
}
.contact_page .contact div {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.contact_page .contact #sponsor {
  margin-top: 2%;
  font-size: 20px;
}
.contact_page .contact #sponsor span {
  transition: color 0.3s ease-in-out, box-shadow 0.5s linear;
  padding: 0.25%;
}
.contact_page .contact #sponsor span:hover {
  box-shadow: inset 400px 0 0 0 #de6c00;
  color: #061934;
}
.contact_page .contact .credits {
  font-size: 12px;
  font-style: italic;
  color: #c77415;
}

@media screen and (max-width: 1200px) {
  .landing_page .nav_bar_items {
    font-size: 18px !important;
  }
  .landing_page .title {
    margin-top: 18%;
  }
  .landing_page .title .name {
    justify-content: center;
  }
  .landing_page .title .number {
    justify-content: center;
    margin-left: 0px;
  }
  .landing_page .landing_video {
    left: 0;
    top: 52%;
    transform: scale(1.4);
  }
  .header {
    padding-top: 4%;
  }
  #achieve_header .right {
    width: 25vw;
  }
  #achieve_header .left {
    width: 25vw;
  }
  .achievements_page {
    height: 50vh;
  }
  .achievements_page .achievements_div {
    margin: 9% auto;
  }
  .achievements_page .achievements_div .scroller .achievement {
    min-width: 200px;
    min-height: 30vh;
    font-size: 15px;
  }
  .achievements_page .achievements_div .scroller .achievement img {
    width: 12vw;
  }
  .contact_page {
    height: 20vh;
  }
}/*# sourceMappingURL=style.css.map */