// global attributes
$blue_color_1: #061934;
$blue_color_2: #0d203b;
$black: #000000;
$orange_1: #ff8a00;
$orange_2: #c77415;
$orange_3: #f8a400;
$orange_4: #de6c00;

@font-face {
    font-family: "regular";
    src: url("fonts/regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bold";
    src: url("fonts/bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 100%;
    overflow-x: hidden;
}



.landing_page {
    // background: linear-gradient(to bottom, $black, $blue_color_1);
    background-color: black; 
    height: 100vh;
    font-family: "regular", sans-serif;
    // position: relative;
    z-index: 100;
    overflow: hidden;


    .advertisement {
        
        background-color: $orange_4;
        min-height: fit-content;
        font-size: 20px;
        padding: .2em;
        text-align: center;
        a {
            text-decoration: none; 
            color: $blue_color_1;
        }
    }
    
    .nav_bar_div {
        // background-color: aqua;
        display: flex;
        justify-content: center;
        .nav_bar {
            // background-color: $blue_color_2;
            display: flex;
           

            justify-content: space-evenly;
            align-items: center;
            
            margin-top: 2.5%;

            max-height: 7vh;

            border-style: solid;
            border-color: $orange_1;
            border-width: 2px;
            border-radius: 20px;

            
           
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            
            
            .nav_bar_items {
                font-size: 1em;
                margin: 2.5vw;
                color: $orange_1;
                font-family: inherit;
                // padding: 0.25% 0.25%;
                padding: 10px 10px;
            }

            div  {
                transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
            }

            div:hover {
                cursor: pointer;
                // color: aqua;
                box-shadow: inset 200px 0 0 0 $orange_4;
                color: $blue_color_1;
                // font-family: "bold";
            }
        }
    }


    .title {
        // background-color: aqua;
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        // width: fit-content;

        margin-top: 27vh;

        padding: 0 9vw;
        // padding-left: 9vw;
       
        p {
            font-family: inherit;
            color: $orange_1;
            z-index: 5;
            margin: 0px;
        }
        
        .name {
            // background-color: aqua;
            display: flex;
            justify-content: start;
            flex-basis: 100%;

            // font-size: 8vw;
            font-size: clamp(7vw, 8vw, 90px);
        }

        .number {
            display: flex;
            justify-content: start;
            flex-basis: 100%;

            font-size: 48px;
            // font-size: 4vw;

            margin-top: -15px;
            // background-color: aqua;
            margin-left: 12px;

        }

       
    }

    .landing_video {

        position: absolute;
        z-index: 0;
        left: 23%;
        top: 18%;
        
        video {
            width: 100vw;
        }
    }

   
    
}



// header
.header {
    color: $orange_2;
    display: flex;
    height: 5vh;
    
    padding-top: 2%;

    justify-content: space-between;
    font-family: "bold", sans-serif;

    position: relative;
    z-index: 100;

    .left {
        width: 37vw;
        border-style: solid;
        border-width: 2px;
        border-color: $orange_1;
        
        border-left: none;
        border-radius: 10px;

    }

    .page_heading {
        display: flex;
        align-items: center;
        font-size: 40px;
    }

    .right {
        width: 37vw;
        border-style: solid;
        border-width: 2px;
        border-color: $orange_1;
        border-right: none;
        border-radius: 10px;
    }

}


// about page
.about_page {
    background: linear-gradient(to bottom, $black, $blue_color_1);
    height: 95vh;
    font-family: "regular", sans-serif;
    position: relative;

    .about_div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // background-color: orange;
        height: 90%;
    }
    .about_us {
        // margin: 7vh 7vw; 
        width: 35vw;
        height: fit-content;
        
        overflow: hidden;
        font-size: 1.45vw;
        // font-size: 22px;
        
        color: $orange_2;


        border-style: solid;
        border-image: linear-gradient(to bottom, $black, $blue_color_1) 1;
        border-width: 8px;

        padding: 0px 25px;
        line-height: 1.5;
    }

    .about_img {
        position: relative;
        // background-color: $black;
        // right: 7vw;
        // top: 22vh;  
        width: 40vw;
        height: auto;
        display: flex;
        align-items: center;
        z-index: 0;
        mask: linear-gradient(0deg, transparent, $blue_color_1 100%);

        img {
            width: 40vw;
            border-radius: 20px;
        }
    }
}




.bot_page {
    background: linear-gradient(to bottom, $blue_color_1, black);
    height: 100vh;
    font-family: "regular", sans-serif;
   

    .video_div   {
        // margin-top: 4.9vw;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: black;
        height: 90%;
       
        

        img {
            width: 50%;
            // object-fit:contain;
            // background-color: graY;
        }
    }
    

    
}

@keyframes complex {

    25% {transform: translateX(100px);}
    50% {transform: translateX(-100px);} 
    75% {transform: translateX(100px);} 
    100% {transform: translateX(-100px);} 
    
}



.achievements_page {
    background: linear-gradient(to bottom, $black, $blue_color_1);
    height: 80vh;
    font-family: "regular", sans-serif;


    .achievements_div {
        max-width: 75%;
        display: flex;
        justify-content: center;

        margin: 4.5% auto;
        // background-color: aqua;
        

        .scroller {
            // outline: 3px solid aqua;
            min-width: 75%;
            display: flex;
            justify-content: start;
            gap: 1%;
            animation: scroll 110s linear infinite;
            animation-play-state: paused;
        
            .achievement {
                display: flex;
                flex-wrap: wrap;
                background: linear-gradient(to bottom, $orange_3, $orange_4);
                min-width: 300px;
                min-height: 48vh;

                justify-content: center;
                align-items:center;
                text-align: center;
                
                font-size: 18px;

                border-radius: 4px;
                
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                

                .achievement_title {
                    font-family: "bold";
                    font-weight: bold;
                }

                img {
                    // transform: scale(0.25);
                    width: 7vw;
                    position: absolute;

                    bottom: 10%;
                }
            }

            .achievement:hover {
                // transform: scale(1.01);
            }
        }

    }

    .achievements_div[data-animated="true"] {
        overflow: hidden;
        mask: linear-gradient(90deg, transparent, rgb(189, 115, 19) 25%, rgb(240, 178, 98) 75%, transparent);


    }

    .achievements_div[data-animated="true"] .scroller {
        
    }


}

.achievements_div.in_view .scroller {
    animation-play-state: running;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
    
}

@keyframes scroll2 {
    to {
        transform: translateY(-100%);
    }
    
}

#worlds {
    border-style: solid;
    border-image: linear-gradient(to right, #004aad, #cb6ce6) 1;
    border-width: 10px;
    
}

#centerstage {
    background-color: #000000;
    border-style: solid;
    border-radius: 8px;
    bottom: 10%;

    // transform: scale(0.2);
    width: 11vw;
}



// contact page

.contact_page {
    background-color: $blue_color_2;
    height: 30vh;
    font-family: "regular", sans-serif;

    .contact {

       display: flex;
       flex-wrap: wrap;
       justify-content: center;

       font-size: 1.8rem ;
       color: $orange_2;

       padding-top: 4%;
       
       div {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
       }

       #sponsor {
            margin-top: 2%;
            font-size: 20px;
        
            span {
                
                transition: color .3s ease-in-out, box-shadow .5s linear;
                padding: .25%;

            }

            span:hover {
                box-shadow: inset 400px 0 0 0 $orange_4;
                color: $blue_color_1;
            }

        }

        .credits {

            font-size: 12px;
            font-style: italic;
            color: $orange_2;
        }

      

       

    }
}



// -----------------------------IPAD RESPONSIVENESS------------------
@media screen and (max-width: 1200px) {

    .landing_page {
        .nav_bar_items {font-size: 18px !important;}
        .title {
            margin-top: 18%;
            .name {justify-content: center;}
            .number {justify-content: center; margin-left: 0px;}
        }


        .landing_video {
            
            left: 0;
            top: 52%;
            // border: solid 2px blue;
            transform: scale(1.4);
            
        }
    }

    .header {
        padding-top: 4%;
        
    }

    #achieve_header {
        .right {
            width: 25vw;
        }   
        .left {width: 25vw;}
    }

    // .about_page {

    //     height: 75vh;
    //     .about_div {

    //         .about_us {
    //             margin: 8vh auto;
    //             width: 80vw;
    //             text-align: center;
    //         }
    //     }
    // }

    .achievements_page {

        height: 50vh;
        .achievements_div {
            margin: 9% auto;
            .scroller {

                .achievement {
                    min-width: 200px;
                    min-height: 30vh;
                    font-size: 15px;

                    img {width: 12vw;}
                }
            }
        }

    }
    

    .contact_page {
        height: 20vh;
    }
}




